
 /* titre */
 .logo {
     width: 100px;
     height: 50px;
    
     
 } 


 .entete {
  
 }
 .ins
 { 
     display: flex;
     
 }
 .heber{
   
   

 }
 .element {
    margin-top: 15px;
    
    color: rgb(14, 135, 248);
    font-family: sans-serif;
    text-decoration:none;
 
}
 .trouve {
    font-family: sans-serif;
    }
 .en { 
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.671);
   
     }

 /* bare de recheche */ 
 .icone1 {
    background-color:rgb(222, 224, 224);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    width: 40px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
}

.search {
    display: flex;
    justify-content: center;


    
    }
 .searchTerm {
    width: 100%;
    border: 2px solid rgb(214, 213, 213);
    border-right: none;
    padding: 8px;
    height: 20px;
    outline: none;
    }
 
 .searchButton {
    width: 150px;
    height: 40px;
    border: 1px solid #0b43bb;
    background: #0b43bb;
    text-align: left;
    color: #eeeeee;
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    text-align: center;
    }
    .wrap {
    width: 95%;
     margin-left: 12px;
    
     } 

   /* filtre  */ 

.fil { 
    font-family: sans-serif;
    margin-top: 50px;
    
   

} 
 

/* position bouton */
.dispal {
 display: flex;
  flex-wrap: wrap;
   
    }
.resolu {
    display: grid;
    grid-template-columns: 50% 50%;
   
    
 
  
}
.romen {
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 0px;

 
}
.wrap1 {
 

}

/* style bouton */


.search1 {
  display: flex;
  justify-content: flex-start ;


  
  }

  
.searchButton1 {
  width: 175px;
  height: 40px;
  border: 1px solid #b4b4b459;
  background: #fdfdfd;
  text-align:center;
  color: #000000e5;
  border-radius: 50px 50px 50px 50px;
  font-size: 15px;
  margin-right: 10px;
  
  
 
 
  }

  .searchButton2 {
    width: 220px;
    height: 40px;
    border: 1px solid #b4b4b459;
    background: #fdfdfd;
    text-align:center;
    color: #000000e5;
    border-radius: 50px 50px 50px 50px;
    font-size: 15px;
    margin-right: 10px;
    
  }

 
  
  
  .icone2 {
      background-color:rgba(100, 140, 194, 0.363);
     border-radius: 100%;
      height: 40px;
      width: 40px;
      color: rgb(4, 48, 168);
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     position: absolute;
     
     
  }

   /* info */ 
 /* postion info */
 .parti4 {
    display: flex;
  }
  
  /* style info */
  .info {
      background-color:rgba(253, 253, 253, 0.363);
     border-radius: 100%;
      height: 30px;
      width: 30px;
      color: rgb(4, 48, 168);
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     border: 1px solid #b4b4b459;
     margin-left: 5%;
    margin-top: 5px;
     margin-right: 15px;
     
  }
  
  
  
  .para {
   
      font-family: sans-serif;
      color: rgb(194, 191, 191);
  }
  
  
  .loge {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      
     
      
      
  }