body {
    width: auto;
    
    
    

 }
.liste {
 flex-direction: column-reverse; 

  
}


.logo {
    width: 150px;
    height: 100px;
}
.filtre {
    display:flex;
    flex-direction:column;

}
.wrap1 {
   margin-top: 15px;
   display: flex;
   
   
}

.resolu {
    display: flex;
    align-content:flex-start ;
}

 
.element {
 margin-left: 170px  ;
}


.searchTerm {
 width: 350px; ;
}

.bloc {
    flex-direction: column-reverse;
   
}
.bloc1 {
    height: 800px;
      width: 250px;
}
.bloc3 {
    flex-direction: column-reverse;

}
.bloc4 {
    flex-direction: column-reverse;
}
.bloc1 {
    margin: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 55px;

   
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150%;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    margin-bottom: 25px;
    
   
   }

   .image {
   
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
   }


.bloc7 {
  width: 250px;



}
 .act {
     flex-direction: column;
    
 }
 .activites1 {
    width: 390px;
    height: 250px;
    margin-bottom: 25px;
 }

 .activites2 {
    width: 390px;
    height: 250px;
    margin-bottom: 25px;
 }
   
 .activites3 {
    width: 390px;
    height: 250px;
    margin-bottom: 25px;
    margin-top: 150px;
 }
 .activites4 {
    width: 390px;
    height: 250px;
    margin-bottom: 25px;
 }
 .activites5 {
    width: 390px;
    height: 250px;
    margin-bottom: 25px;
    
 }
 .activites6 {
    width: 390px;
    height: 250px;
    margin-bottom: 25px;
 }
 .image2 {
  width: 390px;
  height: 200px;
  object-fit: cover;  
 }

 .image4 {
    width: 390px;
    height: 200px;
    object-fit: cover;  
   }
   .image3 {
    width: 390px;
    height: 200px;
    object-fit: cover;   
   }
   .image5 {
    width: 390px;
    height: 200px;
    object-fit: cover;  
   }
  footer {
      margin: 0px;
      margin-top: 150px;
      width: 100%;
      height: 150px;
      background-color: rgba(179, 173, 173, 0.363);
  }
  