body {
    margin: 0px;
}
/* titre */
.logo {
   height: 90px;
   width: 100px;
   
}
.actif {
   
}
.logo1 {
   display: grid;
   grid-template-columns: 80% 20%;
}
.ins {
    margin-top: 20px;
   
}
.heber {
   display: flex;
   justify-content: space-evenly;
  margin-top: 30px;
    
  

}

 .element {
     margin-top: 15px;
     
     color: rgb(14, 135, 248);
     font-family: sans-serif;
     text-decoration:none;
  
 }
 .bande {
     width:102%;
     height: 2px;
     background-color:rgb(14, 135, 248) ;

 }
 /* navi */
 .trouve {
    font-family: sans-serif;
    text-align: center;
 }
 .en { 
 font-family: sans-serif;
 color: rgba(0, 0, 0, 0.671);
 text-align: center;
  }
/* bare de recheche */
 
    
/* filtre  */ 

.resolu {
    display: grid;
    grid-template-columns: 50% 50%;
}
.fil { 
    font-family: sans-serif;
    margin-top: 50px;
    margin: 5%;
  
  

}


 .search1 {
     margin-top: 10px;
    margin-left: 1%; 
 }
 .romen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
       
        
   }

  .searchButton1 {
      width: 15px;
  }

/* bloc1 */ 
.bloc1 {
    width: 102%;
    height: 750px;
    background-color: rgb(233, 231, 231);
    margin-top: 15px;
   
}
.sousitre2 { 
    margin-left: 30px;
    font-family: sans-serif;
     }

.soutitre3 {
    display: grid;
    grid-template-columns: 90% 10% ;
   
}   
.cartouche {
 display: flex;
 flex-wrap: wrap;
 margin-left: 2%;
 
  
}

.icone3 {
    margin-top: 25px;
} 
 
/* card1*/


.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 200px;
    width: 320px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    margin-bottom: 15px;
    display: flex;
    margin-left: 2%;
 
    
   
}

 .image1 {
     border-bottom-left-radius: 25px;
     border-top-left-radius: 25px;
     object-fit: cover;
     margin-right: 25px;
     width: 150px;

 }
 .bi  {
    color: rgb(4, 48, 168);
 }
 .bi1 {

    color: rgba(63, 63, 63, 0.363);
 }
 .icone4 {
     margin-top:80px;

 }

/* bloc2 */




.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 270px;
    width: 320px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    margin-bottom: 15px;
    margin-left: 2%;
  
 
    
   
}


 .image2 {
     border-top-right-radius: 25px;
     border-top-left-radius: 25px;
     object-fit: cover;
   
     width: 320px;
     height: 150px;

 }
 .bi  {
    color: rgb(4, 48, 168);
 }

 .container2 {
    margin-left: 5%;
 }

 .cartouche1 {
   display: flex;
   flex-wrap: wrap;
   margin-left: 2%;
 
 }

 .affiche {
    margin-top: 15px;
     padding: 25px;
     color: #070707;
     font-family: sans-serif;
     text-decoration:none;
     
 }
 h3 {
     margin-left: 5%;
 }

 /* activiter */ 

 .card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 150px;
    width: 320px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    margin-bottom: 20px;
  
 
    
   
}


 .image3 {
     border-top-right-radius: 25px;
     border-top-left-radius: 25px;
     object-fit: cover;
   
     width: 320px;
     height: 100px;

 }
 .cartouche3 {
     margin-left: 2%;
     display: flex;
     flex-wrap: wrap;
 }
 .card3 {
     margin-left: 2%;
 }

 .container3 {
     margin-left: 2%;
 }

 /* base de page */ 

 .fin_de_page {
    background-color: rgb(233, 231, 231);
    height: 520px;
    width: 102%;
   
    
 }
 .propo {
     display: flex;
     flex-direction: column;
    margin: 5%;
 }

 a {
     color: rgb(129, 122, 122);
    font-family: sans-serif;
    text-decoration:none;
     margin: 1%;
 }
 h4 {
    font-family: sans-serif;
 }
 

 
     
      
      

